network:
  version: 2
  renderer: networkd
  ethernets:
    ifazXchange:
      dhcp4: false
  vlans:
    vlan10:
      id: 10
      link: ifazXchange
      addresses:
        - VLAN10_PRIMARY_SERVER_IP_WITH_MASK
    vlan20:
      id: 20
      link: ifazXchange
      addresses:
        - VLAN20_PRIMARY_SERVER_IP_WITH_MASK
      routes:
        - to: default
          via: VLAN20_GATEWAY 
      nameservers:
        addresses: [VLAN20_PRIMARY_SERVER_IP]