### execute.shCHANGUE THE VALUES BELOW TO YOUR CONFIGURATION ###
######################################################

ADMIN_USER_NAME='change_admin'

# NETBIRD MESH VPN CONFIGURATION
NETBIRD_TOKEN='change_netbird_token'
NETBIRD_URL='change_netbird_url'

# 003 Stack configuration

VLAN10_CDIR='vlan10cdirchange'
VLAN10_POOL_WE='vlan10poolchange'
VLAN10_GATEWAY='vlan10gateway'
VLAN10_SERVER_IP_WM='vlan10serveripchange'
VLAN10_SERVER_IP_NM='vlan10primaryserveripwithoutmaskchange'

VLAN20_CDIR='vlan20cdirchange'
VLAN20_POOL_WE='vlan20poolchange'
VLAN20_GATEWAY='vlan20gateway'
VLAN20_DNS_SERVER='vlan20dnschange'
VLAN20_SERVER_IP_WM='vlan20serveripchange'
VLAN20_SERVER_IP_NM='vlan20primaryserveripwithoutmaskchange'



