### execute.shCHANGUE THE VALUES BELOW TO YOUR CONFIGURATION ###
######################################################

ADMIN_USER_NAME=change_admin

# NETBIRD MESH VPN CONFIGURATION
NETBIRD_TOKEN=change_netbird_token #INSERT KEY TOKEN.


# 003 Stack configuration

VLAN10_CDIR='vlan10cdirchange' # EX 10.0.0.0/23
VLAN10_POOL_WE='vlan10poolchange' # EX 10.0.0.35 - 10.0.1.254
VLAN10_GATEWAY='vlan10gateway' # EX 10.0.0.1

VLAN20_CDIR='vlan20cdirchange'
VLAN20_POOL_WE='vlan20poolchange'
VLAN20_GATEWAY='vlan20gateway'
VLAN20_DNS_SERVER='vlan20dnschange' #EX 10.0.0.10

