### execute.shCHANGUE THE VALUES BELOW TO YOUR CONFIGURATION ###
######################################################

ADMIN_USER_NAME='Administrator01'

# NETBIRD MESH VPN CONFIGURATION
NETBIRD_TOKEN='TEST-TEST-KEY'
NETBIRD_URL='https://netbird.mydomain.com'


# 003 Stack configuration

VLAN10_CDIR='11.11.11.0/23'
VLAN10_POOL_WE='11.11.11.100 - 11.11.12.120'
VLAN10_GATEWAY='11.11.11.1'

VLAN20_CDIR='vlan20cdirchange'
VLAN20_POOL_WE='vlan20poolchange'
VLAN20_GATEWAY='vlan20gateway'
VLAN20_DNS_SERVER='vlan20dnschange' #EX 10.0.0.10

