### VLAN CDIR ###
VLAN10_CDIR='change_vlan10_cdir' #EX 10.0.0.0/24
VLAN10_CONCESION_RANGE='change_vlan10_concesion_range' #EX "10.0.0.35 - 10.0.0.254"
VLAN10_PRIMARY_SERVER_IP='change_vlan10_primary_server' #EX 10.0.0.10
VLAN10_PRIMARY_SERVER_IP_WITH_MASK='change_vlan10_primary_server_with_mask' #EX 10.0.0.10/24


VLAN20_CDIR='change_vlan20_cdir' #EX 192.168.0.0/24
VLAN20_CONCESION_RANGE='change_vlan20_concesion_range' #EX "192.168.0.35 - 192.168.0.254"
VLAN20_GATEWAY='change_vlan20_gateway' #EX 192.168.0.1
VLAN20_PRIMARY_SERVER_IP='change_vlan20_primary_server' #EX 192.168.0.10
VLAN20_PRIMARY_SERVER_IP_WITH_MASK='change_vlan20_primary_server_with_mask' #EX 192.168.0.10/24


# NETWORK CONFIGURATION
NETBIRD_TOKEN=change_netbird_token #INSERT KEY TOKEN.
