### AUTOCONFIRATION - DO NOT TOUCH ###
######################################

### 003 FULL STACK CONFIGURATION ###
#DHCP POSTGRES
POSTGRES_USER=postgreschangeuser
POSTGRES_PASSWORD=postgreschangepassword
POSTGRES_DB=postgreschangedb

#Pi-hole environment variables
PIHOLE_PASSWORD=piholechangepassword

#GENERAL
TIMEZONE=timezone_change