POSTGRES_USER=user_postgreschangeuser
POSTGRES_PASSWORD=postgreschangepassword
POSTGRES_DB=db_postgreschangedb


#Pi-hole environment variables
PIHOLE_PASSWORD=piholechangepassword



#GENERAL
TIMEZONE=timezonechange

VLAN1O_CDIR='vlan10cdirchange' # EX 10.0.0.0/23
VLAN10_POOL_WE='vlan10poolchange' # EX 10.0.0.35 - 10.0.1.254
VLAN10_GATEWAY='vlan10gateway' # EX 10.0.0.1

VLAN20_CDIR='vlan20cdirchange'
VLAN20_POOL_WE='vlan20poolchange'
VLAN20_GATEWAY='vlan20gateway'
VLAN20_DNS_SERVER='vlan20dnschange' #EX 10.0.0.10

