POSTGRES_USER=user_postgreschangeuser
POSTGRES_PASSWORD=postgreschangepassword
POSTGRES_DB=db_postgreschangedb


#Pi-hole environment variables
PIHOLE_PASSWORD=piholechangepassword


#GENERAL
TIMEZONE=timezonechange

